# Object files
*.o
*.ko
*.obj
*.elf
*.ilk
*.pdb

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# CMake and other project files
Makefile
CMakeCache.txt
CMakeFiles/**
cmake_install.cmake
*.vcxproj
*.vcxproj.filters
*.sln
.cproject
.project
Debug/**
*.dir/**
x64/**
